<div class="container w-100">
  <div class="row">
    <div class="column">
      <div class="d-flex justify-content-between">
        <% if current_user.is_teacher? %>
          <p class="mb-0 mt-2 d-flex align-items-center fw-bold">Teaching</p>
          <div class="">
            <a href="new_event_path">
              <p class="text-white bg-custom button-plus d-flex justify-content-center align-items-center my-2"><strong>+</strong></p>
            </a>
          </div>
        </div>
        <%# Iterating through teaching events %>
        <% @events.each do |event| %>
          <% if current_user == event.user %>
            <div class="card-product">
              <h2><%= event.title %></h2>
              <%= image_tag "farley.jpg" %>
              <div class="card-product-infos">
                <p><%= event.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
