<div class="container w-100 my-5 bg-white">
  <div class="row">
    <div class="column">
      <h2 class="my-3 fw-bold d-flex justify-content-center">Welcome <%= current_user.name.capitalize %>!</h2>
      <p class="my-2 d-flex align-items-center">Upcoming Events</p>
      <%# Iterating through attending events %>
      <%= render '/shared/event_card_iteration' %>
    </div>
  </div>
</div>
