<div class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded mt-3 col-12 col-sm-10 col-md-8 col-lg-6 custom-form-container">
  <h3 class="d-flex justify-content-center" style="font-family: 'Inter', sans-serif;">Create Class</h3>
  <%= render "add_event" %>
</div>
