<div class="container w-100 my-5 bg-white">
  <div class="row">
    <div class="column">
      <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "alisa.png" %>
      <%= image_tag "front.jpg", alt: "sexy_lady",   style: "width: 100%; height: auto;" %>
      <div class="mt-1 mb-2">Suggested lessons for you!</div>
      <%# iterating through some events %>
      <%= render 'shared/event_card_iteration' %>
    </div>
  </div>
</div>
