<div class="container w-100">
  <div class="row">
    <div class="column">
      <p class="mb-2 mt-4 d-flex align-items-center fw-bold">Attending</p>
      <%# going to have to iterate after re-seeding %>
      <div class="card-product">
        <%= image_tag "farley.jpg" %>
        <div class="card-product-infos">
          <h2>Prancing 201</h2>
          <p>Continue on your <strong>prancing</strong> journey.</p>
        </div>
      </div>
      <%# going to have to iterate after re-seeding %>
      <div class="card-product mt-3">
        <%= image_tag "farley.jpg" %>
        <div class="card-product-infos">
          <h2>Pinnacle of Prance</h2>
          <p>You'll have a god damn <strong>doctorate</strong> in prancing, pantsed or unpantsed.</p>
        </div>
      </div>
    </div>
  </div>
</div>
